* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body, html {
  position: relative;
  min-height: 100vh;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 24.99%;
}

.col-4 {
  width: 33.32%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.31%;
}

.col-8 {
  width: 66.64%;
}

.col-9 {
  width: 74.97%;
}

.col-10 {
  width: 83.3%;
}

.col-11 {
  width: 91.63%;
}

.col-12 {
  width: 99.96%;
}

[class*="col-"] {
  float: left;
  padding: 1rem;
}

nav {
  padding-bottom: 1rem;
}

.nav-row:after {
  display: table;
  clear: both;
  content: "";
}

.nav-row .nav-left {
  min-width: 50%;
  float: left;
  padding: 1rem 0 0 1rem;
}

.nav-row .nav-left .title-img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 64px;
  width: auto;
  padding: 0 0 0 1rem;
}

.nav-row .nav-left .title-text {
  padding: 0.5rem 1rem;
  font-size: 32px;
}

@media only screen and (max-width: 1023px) {
  .nav-row .nav-left {
    width: 75%;
  }
}

@media only screen and (max-width: 600px) {
  .nav-row .nav-left .title-text {
    display: none;
  }
}

.nav-row .nav-right {
  float: left;
  padding: 0;
}

.nav-row .nav-right .grid-item {
  padding: 1rem 0 0 0;
  text-decoration: none;
  color: darkslategrey;
}

@media only screen and (max-width: 1023px) {
  .nav-row .nav-right {
    width: 25%;
    float: right;
  }
  .nav-row .nav-right a {
    display: none;
  }
  .nav-row .nav-right span {
    margin: 1rem 2rem;
    border-radius: 10px;
    border: 2px solid black;
    background: url(images/menu.png) no-repeat center;
    float: right;
  }
}

.section-row {
  padding: 0 1rem;
  margin-bottom: 64px;
}

.section-row:after {
  display: table;
  clear: both;
  content: "";
}

.section-row .section-item {
  padding: 0;
  height: 28vw;
  background-color: #eceaea;
  border: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-row .section-item .section-title:after {
  display: table;
  clear: both;
  content: "";
}

.section-row .section-item .section-title p {
  font-size: 24px;
  float: right;
  padding: 0.5rem 2rem;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 1px solid black;
}

.section-row .section-item .section-content {
  padding: 2rem 1rem 1rem 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section-row .section-item .section-content p {
  font-size: 16px;
}

@media only screen and (min-width: 861px) and (max-width: 1124px) {
  .section-row .col-4:nth-child(1) {
    width: 100%;
  }
  .section-row .col-4:nth-child(2) {
    width: 50%;
  }
  .section-row .col-4:nth-child(3) {
    width: 50%;
  }
  .section-row .section-item {
    height: 50vh;
  }
}

@media only screen and (max-width: 860px) {
  .section-row .col-4 {
    width: 100%;
  }
  .section-row .section-item {
    height: 50vh;
  }
}

.footer-row:after {
  display: table;
  clear: both;
  content: "";
}

.footer-row .foot {
  background-color: #eceaea;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  height: 64px;
  overflow: hidden;
  text-align: center;
  border-top: 2px solid black;
}

.grid-item {
  padding: 0 1rem;
}
/*# sourceMappingURL=styling.css.map */