$fontSize: 16px;
$spacing: 1rem;
$minWidth: 8.33%;
@mixin clearfix {
    &:after {
      display: table;
      clear: both;
      content: "";
    }
  }
* {
    box-sizing: border-box;
    //border: 1px solid black;
    margin: 0;
    padding: 0;
    font-size: $fontSize;
}
body, html{
    position: relative;
    min-height: 100vh;
}
.col-1 {width:$minWidth;}
.col-2 {width: $minWidth*2;}
.col-3 {width: $minWidth*3;}
.col-4 {width: $minWidth*4;}
.col-5 {width: $minWidth*5;}
.col-6 {width: 50%;}
.col-7 {width:$minWidth*7;}
.col-8 {width: $minWidth*8;}
.col-9 {width: $minWidth*9;}
.col-10 {width:$minWidth*10;}
.col-11 {width: $minWidth*11;}
.col-12 {width: $minWidth*12;}

[class*="col-"]{
    float: left;
    padding: $spacing;
}
nav{
    padding-bottom: $spacing;
}
.nav-row{
    @include clearfix();
    .nav-left{
        min-width: 50%;
        float: left;
        padding: $spacing 0 0 $spacing;
        .title-img{
            object-fit: contain;
            height: 4*$fontSize;
            width: auto;
            padding: 0 0 0 $spacing;
        }
        .title-text{
            padding: $spacing/2 $spacing;
            font-size: 2*$fontSize;
        }
        @media only screen and (max-width:1023px){
            width: 75%;
        }
        @media only screen and (max-width:600px){
            .title-text{display:none;}
        }
    }
    .nav-right{
        
        float: left;
        padding: 0;
        .grid-item{
            padding: $spacing 0 0 0 ;
            text-decoration: none;
            color: darkslategrey;
        }
        @media only screen and (max-width:1023px){
            width: 25%;
            float: right;
            a {
                display: none;
            }
            span{
                margin: $spacing $spacing*2;
                border-radius: 10px;
                border: 2px solid black;
                background: url(images/menu.png) no-repeat center;
                float: right;
            }

        }
        
    }
}
.section-row{
    padding:0 $spacing;
    margin-bottom: $fontSize*4;
    @include clearfix();
    .section-item{
        padding: 0;
        height: 28vw;
        background-color: rgb(236, 234, 234);
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        .section-title{
            @include clearfix();
            p {
                font-size: $fontSize*1.5;
                float: right;
                padding: $spacing/2 $spacing*2;
                border-left: 2px solid black;
                border-bottom: 2px solid black;
                border-right: 1px solid black;
            }
        }
        .section-content{
            padding: $spacing*2 $spacing $spacing $spacing;
            flex: 1;
            p {
                font-size: $fontSize;
            }
        }
    }
    @media only screen and (min-width:861px) and (max-width:1124px){
        .col-4:nth-child(1){
            width: 100%;
        }
        .col-4:nth-child(2){
            width: 50%;
        }
        .col-4:nth-child(3){
            width: 50%;
        }
        .section-item{
            height: 50vh;
        }
    }
    @media only screen and (max-width:860px){
        .col-4{
            width: 100%;
        }
        .section-item{
            height: 50vh;
        }
    }
}

.footer-row{
    @include clearfix();
    .foot{
    background-color: rgb(236, 234, 234);
    padding: $spacing/2;
    position: absolute;
    bottom: 0;
    height: $fontSize*4;
    overflow: hidden;
    text-align: center;
    border-top: 2px solid black;
}
}

.grid-item{
    padding: 0 $spacing;
}
